<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yk726.myweb.product.ProductMapper">
	
	<!-- 테이블 명은 대문자(mysql은 대소문자를 구분함) -->
	<insert id="regist">
		insert into PRODUCT(prod_enddate,
							prod_category,
							prod_writer,
							prod_name,
							prod_price,
							prod_count,
							prod_discount,
							prod_purchase_yn,
							prod_content,
							prod_comment)
		values(#{prod_enddate},
			   #{prod_category},
			   #{prod_writer},
			   #{prod_name},
			   #{prod_price},
			   #{prod_count},
			   #{prod_discount},
			   #{prod_purchase_yn},
			   #{prod_content},
			   #{prod_comment})
	</insert>
	
</mapper>