<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<!-- page(페이지네임, 페이지VO) -->
<th:block th:fragment="page( pageName, pageVO )">
		<ul>
			<th:block th:if="${pageVO.realEnd != 0}">
					<li>
						<a th:href="@{${pageName}(page=1,
												  amount=${pageVO.amount},
												  searchName=${pageVO.cri.searchName},
												  searchContent=${pageVO.cri.searchContent},
												  searchPrice=${pageVO.cri.searchPrice},
												  startDate=${pageVO.cri.startDate},
												  endDate=${pageVO.cri.endDate}
												  )}">
							<i class="fa fa-angle-double-left" aria-hidden="true"></i>
								</a>
							</li>
								<th:block th:if="${pageVO.realEnd != 0}">
								<th:block th:if="${pageVO.prev}">
									<li style="margin-right:5px;">
										<a th:href="@{${pageName}(page=${pageVO.start -1},
																  amount=${pageVO.amount},
																  searchName=${pageVO.cri.searchName},
																  searchContent=${pageVO.cri.searchContent},
																  searchPrice=${pageVO.cri.searchPrice},
																  startDate=${pageVO.cri.startDate},
																  endDate=${pageVO.cri.endDate}
																  )}">
									<i class="fa fa-angle-left" aria-hidden="true"></i>
										</a>
									</li>
										</th:block>
												
										<th:block th:each="page : ${pageVO.pageList}">
										<li th:class="${pageVO.page == page ? 'on' : '' }">
											<a th:href="@{${pageName}(page=${page},
										  							  amount=${pageVO.amount},
																	  searchName=${pageVO.cri.searchName},
																	  searchContent=${pageVO.cri.searchContent},
																	  searchPrice=${pageVO.cri.searchPrice},
																	  startDate=${pageVO.cri.startDate},
																	  endDate=${pageVO.cri.endDate})}">[[${page}]]</a>
										</li>
										</th:block>
												
									<th:block th:if="${pageVO.next}">
										<li style="margin-left:5px;">
											<a th:href="@{${pageName}(page=${pageVO.end +1},
																	  amount=${pageVO.amount},
																	  searchName=${pageVO.cri.searchName},
																	  searchContent=${pageVO.cri.searchContent},
																	  searchPrice=${pageVO.cri.searchPrice},
																	  startDate=${pageVO.cri.startDate},
																	  endDate=${pageVO.cri.endDate} )}">
										<i class="fa fa-angle-right" aria-hidden="true"></i>
											</a>
										</li>
									</th:block>
												
									<th:block th:if="${pageVO.realEnd != 0}">
										<li>
											<a th:href="@{${pageName}(page=${pageVO.realEnd},
																		     amount=${pageVO.amount},
																		     searchName=${pageVO.cri.searchName},
																			 searchContent=${pageVO.cri.searchContent},
																			 searchPrice=${pageVO.cri.searchPrice},
																			 startDate=${pageVO.cri.startDate},
																			 endDate=${pageVO.cri.endDate})}">
										<i class="fa fa-angle-double-right" aria-hidden="true"></i>
											</a>
										</li>
									<th:block th:if="${pageVO.realEnd != 0}">
												
											</ul>
										</div>
									</li>

								</ul>
							</li>
						</ul>
</th:block>