<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<th:block th:replace="~{/include/basicLayout :: setContent( ~{ :: .wrap}) }">
    <div class="wrap">
        <div class="warp_inner">
            <!-- left_menu end -->
            <div class="right_content">
                <div class="midiaq">
                    <div class="mainWrapper"> 
						<div class="ipssGiudeBlock" style="color:red; font-size: large;">
							-요구사항<br>
							-판매자는 등록한 본인에 글에 대해 수정, 삭제할 수 있다.<br>
							-해당 글에 해당하는 정보를 미리보여주도록 처리한다. <br>
                            <br>
                            
						</div>
					</div>
                    <div class="page_title">게시글 연습 > <span class="page_subtitle">글수정/삭제</span></div>
                    <form name="topicUpdate" action="#####" method="post">
                        <div class="full_collum collum">
                            <ul>
                                <li class="collum_tit">
                                    <h2>게시글관리</h2>

                                    <span class="showtoggle minus"></span>
                                    <ul>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" class="board_basic_view"
                                                width="100%;">
                                                    	<input type="hidden" name="topic_bno" th:value="${topicVO.topic_bno}">
                                                <tr>
                                                    <th>등록일</th>
                                                    <td>
                                                        <input type="text" name="topic_regdate" th:value="${topicVO.topic_regdate}">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>아이디</th>
                                                    <td><input type="text" class="inputw150" name="topic_id" th:value="${topicVO.topic_id}" readonly>
                                                    	<span class="valid">[[${valid_topic_id}]]</span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>제목</th>
                                                    <td colspan="5"><input type="text" class="inputw99p" name="topic_title" th:value="${topicVO.topic_title}">
                                                    	<span class="valid">[[${valid_topic_title}]]</span>
                                                    </td>
                                                </tr>


                                                
                                                <tr>
                                                    <th>내용</th>
                                                    <td colspan="5">
                                                        <div>
                                                        <span class="valid">[[${valid_topic_content}]]</span>
                                                        <textarea  class="inputw99p" name="topic_content" style="height: 200px;" th:value="${topicVO.topic_content}">[[${topicVO.topic_content}]]</textarea>
                                                        </div>
                                                    </td>
                                                </tr>


                                            </table>
                                            <div class="btn_area">
                                                <!-- 
                                                <input type="submit" class="save" value="등록">
                                            	<input type="button" class="delete" value="목록">
                                                 -->
                                                <a th:href="@{수정JS}" class="save" th:onclick="|topic_valid()|">수정</a>
                                                <a th:href="@{/topic/topicListMe}" class="delete">목록</a>
                                                <a th:href="@{삭제JS}" class="revise mglr13" th:onclick="|topic_delete()|">삭제</a> 
                                                
                                            </div>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <!-- right_content end -->
        </div>
        <div class="dim_layer">
        </div>
    </div>
    <!-- wrap end -->
</th:block>

<script th:inline="javascript">
	function topic_valid() {
		this.event.preventDefault();
		document.topicUpdate.action = "topicUpdate";
		document.topicUpdate.submit();
	}
	function topic_delete() {
		this.event.preventDefault(); //고유이벤트 중지
		
		if(confirm("삭제하시겠습니까?")){			
		document.topicUpdate.action = "topicDelete";
		document.topicUpdate.submit();
		}
	}
	
</script>
</html>