<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">

<th:block th:replace="~{/include/basicLayout :: setContent( ~{ :: .wrap}) }">

    <div class="wrap">
        <div class="warp_inner">
            <div class="right_content">
                <div class="midiaq">
					<div class="mainWrapper"> 
						<div class="ipssGiudeBlock" style="color:red; font-size: large;">
							-요구사항<br>
							-회원은 글을 등록 할 수 있습니다<br>
						</div>
					</div>
                    <div class="page_title">게시글 연습 > 글 등록</div>

                    <form name="topicForm" action="topicForm" method="post">
                        <div class="full_collum collum">
                            <ul>
                                <li class="collum_tit">
                                    <h2>게시글관리</h2>

                                    <span class="showtoggle minus"></span>
                                    <ul>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" class="board_basic_view"
                                                width="100%;">
                                                <tr>
                                                    <th>등록일</th>
                                                    <td colspan="5">
                                                        <input type="text" class="datepicker" name="topic_regdate" readonly placeholder="날짜선택">
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <th>아이디</th>
                                                    <td><input type="text" class="inputw150" name="topic_id" value=""></td>
                                                </tr>

                                                <tr>
                                                    <th>제목</th>
                                                    <td colspan="5"><input type="text" class="inputw99p" name="topic_title"></td>
                                                </tr>
                                                
                                                <tr>
                                                    <th>내용</th>
                                                    <td colspan="5">
                                                        <div><textarea  class="inputw99p" name="topic_content" style="height: 200px;"></textarea>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </table>
                                            <div class="btn_area">
                                                <input type="submit" class="save" value="등록">
                                            	<input type="button" class="delete" value="목록">
                                                <!-- 
                                                <a href="#" class="save">등록</a>
                                                <a href="#" class="delete">목록</a>
                                                <a href="#" class="revise mglr13">삭제</a> 
                                                -->
                                            </div>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </form>


                </div>
                <!-- right_content end -->
            </div>


            <!-- warp_inner end -->
            <div class="dim_layer">

            </div>
            <!-- wrap end -->
        </div>

        
    </div>  

</th:block>

</html>