<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	span {color: red;}
</style>

</head>

<body>
	
	<pre>
CREATE TABLE MEMO(
	MNO INT PRIMARY KEY AUTO_INCREMENT,
	MEMO VARCHAR(200) NOT NULL,
	PHONE VARCHAR(30),
	PW VARCHAR(4),
	SECRET CHAR(1) CHECK(SECRET IN ('y', 'n'))
);
	</pre>
	
	<h3>
		1. 위 테이블을 이용해서 테이블을 생성하세요<br>
		2. MemoVO를 생성하고, 컨트롤러에서는 값을 받아서 insert를 진행합니다.<br>
		3. MemoVO에는 유효성 검증 작업을 수행하도록 처리하세요.<br>
		4. 등록 완료후에는 MemoList로 리다이렉트 하고, 등록된 결과를 출력해 주세요.<br>
	</h3>

	<form action="####" method="post">
		<h3>메모기능 구현</h3>	
		<textarea name="memo" rows="5" cols="30" placeholder="내용을 작성해주세요(5글자 이상)"></textarea>
		<span>메시지처리</span><br>
		<input type="text" name="phone" placeholder="연락받을 전화번호">
		<span>메시지처리</span><br>
		<input type="password" name="pw" placeholder="비밀번호 숫자 4자리">
		<span>메시지처리</span><br>
		
		<input type="radio" name="secret" value="n" checked>공개글
		<input type="radio" name="secret" value="y" >비밀글
		
		<input type="submit" value="등록">
	</form>
	
	
</body>
</html>